@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --soft-orange: 35, 77%, 62%;
        --soft-red: 5, 85%, 63%;
        --off-white: 36, 100%, 99%;
        --grayish-blue: 233, 8%, 79%;
        --dark-grayish-blue: 236, 13%, 42%;
        --very-dark-blue: 240, 100%, 5%;
    }

    @font-face {
        font-weight: 1 999;
        font-display: swap;
        font-family: "Inter";
        src: local("Inter") url("/news-homepage/assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
            format("truetype-variations");
    }
    @font-face {
        font-family: "Inter";
        font-weight: 700;
        src: local("Inter Bold") url("/news-homepage/assets/fonts/static/Inter-Bold.ttf") format("ttf");
    }
    @font-face {
        font-family: "Inter";
        font-weight: 800;
        src: local("Inter ExtraBold") url("/news-homepage/assets/fonts/static/Inter-ExtraBold.ttf") format("ttf");
    }
    @font-face {
        font-family: "Inter";
        font-weight: 400;
        src: local("Inter Regular") url("/news-homepage/assets/fonts/static/Inter-Regular.ttf") format("ttf");
    }

    *,
    html {
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    .attribution {
        @apply absolute bottom-0 w-full text-sm text-center mb-2 text-very-dark-blue;
    }
    .attribution a:hover,
    .attribution a:active {
        @apply text-dark-grayish-blue;
    }
}
